* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

h1 {
    font-size: 2rem;
}

h3 {
    font-size: 1.3rem;
}

body {
    background-color: #CCCCCC;
}

main {
    width: 600px;
    height: 400px;
    background-color: #E5E5E5;
    border-radius: 10px;
    box-shadow: 0 0 30px black;
    margin: 20px auto;
}