/*****General*****/

.canvas {
	display: block;
	width: 500px;
	line-height: 0;
	margin: auto;

}

.pixel {
	display: inline-block;
	background-color: white;
	width: 20px;
	height: 20px;
	border: 1px solid green;

}

/*palette*/

.palette {
	display: inline-block;
	background-color: white;
	width: 25px;
	height: 25px;
	border: 1px solid green;
	border-radius: 100%;
	margin: 1px


}

.clear-button {
	background-color: white;
	width: 100px;
	height: 100px;
	border: 5px solid green;
	border-radius: 30%;


}
/*selected-color*/

.selected-color {
	background-color: white;
	width: 100px;
	height: 100px;
	border: 5px solid green;
  border-radius: 30%;


}

#full {
	width: 100px;
	height: 100px;
	border: 5px solid green;
  border-radius: 30%;
}

/*colors*/

.red {
	background-color: red;
}

.orange {
	background-color: orange;
}

.yellow {
	background-color: yellow;
}

.green {
	background-color: green;
}

.blue {
	background-color: blue;
}

.purple {
	background-color: purple;
}
