html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #ccc;
}

h2 {
  color: #999;
  font-family: Gill Sans;
  font-size: 1.5rem;
  font-weight: 400;
  float: left;
  letter-spacing: 3px;
  line-height: 2.4rem;
  margin: 0;
}

#container {
  background: #e5e5e5;
  border-radius: 3.5%;
  box-shadow: 0 0 20px #999;
  margin: 0 auto;
  margin-top: 2%;
  padding: 2%;
  width: 905px;
}

#canvas {
  clear: both;
  margin: 0 auto;
}

#palette {
  clear: both;
  height: 100px;
  width: 100%;
}

.pixel {
  background: white;
  border: 1px solid #e5e5e5;
  float: left;
  height: 14px;
  width: 14px;
}

.color {
  border: 1px solid #bbbbbb;
  border-radius: 50%;
  height: 35.5px;
  float: left;
  margin: 5px 5px 0 0;
  width: 35.5px;
}

.selection {
  float: left;
  height: 35.5px;
  margin-top: 6px;
  padding-left: 18px;
}

.current {
  border: 1px solid #999999;
  border-radius: 5%;
  float: left;
  height: 35.5px;
  margin-left: 12px;
  width: 100px;
}
