.colorf9ebea {
	background-color: #f9ebea;
}

.colorf2d7d5 {
	background-color: #f2d7d5;
}

.colore6b0aa {
	background-color: #e6b0aa;
}

.colord98880 {
	background-color: #d98880;
}

.colorcd6155 {
	background-color: #cd6155;
}

.colorc0392b {
	background-color: #c0392b;
}

.colora93226 {
	background-color: #a93226;
}

.color922b21 {
	background-color: #922b21;
}

.color7b241c {
	background-color: #7b241c;
}

.color641e16 {
	background-color: #641e16;
}

.colorfdedec {
	background-color: #fdedec;
}

.colorfadbd8 {
	background-color: #fadbd8;
}

.colorf5b7b1 {
	background-color: #f5b7b1;
}

.colorf1948a {
	background-color: #f1948a;
}

.colorec7063 {
	background-color: #ec7063;
}

.colore74c3c {
	background-color: #e74c3c;
}

.colorcb4335 {
	background-color: #cb4335;
}

.colorb03a2e {
	background-color: #b03a2e;
}

.color943126 {
	background-color: #943126;
}

.color78281f {
	background-color: #78281f;
}

.colorf5eef8 {
	background-color: #f5eef8;
}

.colorebdef0 {
	background-color: #ebdef0;
}

.colord7bde2 {
	background-color: #d7bde2;
}

.colorc39bd3 {
	background-color: #c39bd3;
}

.coloraf7ac5 {
	background-color: #af7ac5;
}

.color9b59b6 {
	background-color: #9b59b6;
}

.color884ea0 {
	background-color: #884ea0;
}

.color76448a {
	background-color: #76448a;
}

.color633974 {
	background-color: #633974;
}

.color512e5f {
	background-color: #512e5f;
}

.colorf4ecf7 {
	background-color: #f4ecf7;
}

.colore8daef {
	background-color: #e8daef;
}

.colord2b4de {
	background-color: #d2b4de;
}

.colorbb8fce {
	background-color: #bb8fce;
}

.colora569bd {
	background-color: #a569bd;
}

.color8e44ad {
	background-color: #8e44ad;
}

.color7d3c98 {
	background-color: #7d3c98;
}

.color6c3483 {
	background-color: #6c3483;
}

.color5b2c6f {
	background-color: #5b2c6f;
}

.color4a235a {
	background-color: #4a235a;
}

.coloreaf2f8 {
	background-color: #eaf2f8;
}

.colord4e6f1 {
	background-color: #d4e6f1;
}

.colora9cce3 {
	background-color: #a9cce3;
}

.color7fb3d5 {
	background-color: #7fb3d5;
}

.color5499c7 {
	background-color: #5499c7;
}

.color2980b9 {
	background-color: #2980b9;
}

.color2471a3 {
	background-color: #2471a3;
}

.color1f618d {
	background-color: #1f618d;
}

.color1a5276 {
	background-color: #1a5276;
}

.color154360 {
	background-color: #154360;
}

.colorebf5fb {
	background-color: #ebf5fb;
}

.colord6eaf8 {
	background-color: #d6eaf8;
}

.coloraed6f1 {
	background-color: #aed6f1;
}

.color85c1e9 {
	background-color: #85c1e9;
}

.color5dade2 {
	background-color: #5dade2;
}

.color3498db {
	background-color: #3498db;
}

.color2e86c1 {
	background-color: #2e86c1;
}

.color2874a6 {
	background-color: #2874a6;
}

.color21618c {
	background-color: #21618c;
}

.color1b4f72 {
	background-color: #1b4f72;
}

.colore8f8f5 {
	background-color: #e8f8f5;
}

.colord1f2eb {
	background-color: #d1f2eb;
}

.colora3e4d7 {
	background-color: #a3e4d7;
}

.color76d7c4 {
	background-color: #76d7c4;
}

.color48c9b0 {
	background-color: #48c9b0;
}

.color1abc9c {
	background-color: #1abc9c;
}

.color17a589 {
	background-color: #17a589;
}

.color148f77 {
	background-color: #148f77;
}

.color117864 {
	background-color: #117864;
}

.color0e6251 {
	background-color: #0e6251;
}

.colore8f6f3 {
	background-color: #e8f6f3;
}

.colord0ece7 {
	background-color: #d0ece7;
}

.colora2d9ce {
	background-color: #a2d9ce;
}

.color73c6b6 {
	background-color: #73c6b6;
}

.color45b39d {
	background-color: #45b39d;
}

.color16a085 {
	background-color: #16a085;
}

.color138d75 {
	background-color: #138d75;
}

.color117a65 {
	background-color: #117a65;
}

.color0e6655 {
	background-color: #0e6655;
}

.color0b5345 {
	background-color: #0b5345;
}

.colore9f7ef {
	background-color: #e9f7ef;
}

.colord4efdf {
	background-color: #d4efdf;
}

.colora9dfbf {
	background-color: #a9dfbf;
}

.color7dcea0 {
	background-color: #7dcea0;
}

.color52be80 {
	background-color: #52be80;
}

.color27ae60 {
	background-color: #27ae60;
}

.color229954 {
	background-color: #229954;
}

.color1e8449 {
	background-color: #1e8449;
}

.color196f3d {
	background-color: #196f3d;
}

.color145a32 {
	background-color: #145a32;
}

.coloreafaf1 {
	background-color: #eafaf1;
}

.colord5f5e3 {
	background-color: #d5f5e3;
}

.colorabebc6 {
	background-color: #abebc6;
}

.color82e0aa {
	background-color: #82e0aa;
}

.color58d68d {
	background-color: #58d68d;
}

.color2ecc71 {
	background-color: #2ecc71;
}

.color28b463 {
	background-color: #28b463;
}

.color239b56 {
	background-color: #239b56;
}

.color1d8348 {
	background-color: #1d8348;
}

.color186a3b {
	background-color: #186a3b;
}

.colorfef9e7 {
	background-color: #fef9e7;
}

.colorfcf3cf {
	background-color: #fcf3cf;
}

.colorf9e79f {
	background-color: #f9e79f;
}

.colorf7dc6f {
	background-color: #f7dc6f;
}

.colorf4d03f {
	background-color: #f4d03f;
}

.colorf1c40f {
	background-color: #f1c40f;
}

.colord4ac0d {
	background-color: #d4ac0d;
}

.colorb7950b {
	background-color: #b7950b;
}

.color9a7d0a {
	background-color: #9a7d0a;
}

.color7d6608 {
	background-color: #7d6608;
}

.colorfef5e7 {
	background-color: #fef5e7;
}

.colorfdebd0 {
	background-color: #fdebd0;
}

.colorfad7a0 {
	background-color: #fad7a0;
}

.colorf8c471 {
	background-color: #f8c471;
}

.colorf5b041 {
	background-color: #f5b041;
}

.colorf39c12 {
	background-color: #f39c12;
}

.colord68910 {
	background-color: #d68910;
}

.colorb9770e {
	background-color: #b9770e;
}

.color9c640c {
	background-color: #9c640c;
}

.color7e5109 {
	background-color: #7e5109;
}

.colorfdf2e9 {
	background-color: #fdf2e9;
}

.colorfae5d3 {
	background-color: #fae5d3;
}

.colorf5cba7 {
	background-color: #f5cba7;
}

.colorf0b27a {
	background-color: #f0b27a;
}

.coloreb984e {
	background-color: #eb984e;
}

.colore67e22 {
	background-color: #e67e22;
}

.colorca6f1e {
	background-color: #ca6f1e;
}

.coloraf601a {
	background-color: #af601a;
}

.color935116 {
	background-color: #935116;
}

.color784212 {
	background-color: #784212;
}

.colorfbeee6 {
	background-color: #fbeee6;
}

.colorf6ddcc {
	background-color: #f6ddcc;
}

.coloredbb99 {
	background-color: #edbb99;
}

.colore59866 {
	background-color: #e59866;
}

.colordc7633 {
	background-color: #dc7633;
}

.colord35400 {
	background-color: #d35400;
}

.colorba4a00 {
	background-color: #ba4a00;
}

.colora04000 {
	background-color: #a04000;
}

.color873600 {
	background-color: #873600;
}

.color6e2c00 {
	background-color: #6e2c00;
}

.colorfdfefe {
	background-color: #fdfefe;
}

.colorfbfcfc {
	background-color: #fbfcfc;
}

.colorf7f9f9 {
	background-color: #f7f9f9;
}

.colorf4f6f7 {
	background-color: #f4f6f7;
}

.colorf0f3f4 {
	background-color: #f0f3f4;
}

.colorecf0f1 {
	background-color: #ecf0f1;
}

.colord0d3d4 {
	background-color: #d0d3d4;
}

.colorb3b6b7 {
	background-color: #b3b6b7;
}

.color979a9a {
	background-color: #979a9a;
}

.color7b7d7d {
	background-color: #7b7d7d;
}

.colorf8f9f9 {
	background-color: #f8f9f9;
}

.colorf2f3f4 {
	background-color: #f2f3f4;
}

.colore5e7e9 {
	background-color: #e5e7e9;
}

.colord7dbdd {
	background-color: #d7dbdd;
}

.colorcacfd2 {
	background-color: #cacfd2;
}

.colorbdc3c7 {
	background-color: #bdc3c7;
}

.colora6acaf {
	background-color: #a6acaf;
}

.color909497 {
	background-color: #909497;
}

.color797d7f {
	background-color: #797d7f;
}

.color626567 {
	background-color: #626567;
}

.colorf4f6f6 {
	background-color: #f4f6f6;
}

.coloreaeded {
	background-color: #eaeded;
}

.colord5dbdb {
	background-color: #d5dbdb;
}

.colorbfc9ca {
	background-color: #bfc9ca;
}

.coloraab7b8 {
	background-color: #aab7b8;
}

.color95a5a6 {
	background-color: #95a5a6;
}

.color839192 {
	background-color: #839192;
}

.color717d7e {
	background-color: #717d7e;
}

.color5f6a6a {
	background-color: #5f6a6a;
}

.color4d5656 {
	background-color: #4d5656;
}

.colorf2f4f4 {
	background-color: #f2f4f4;
}

.colore5e8e8 {
	background-color: #e5e8e8;
}

.colorccd1d1 {
	background-color: #ccd1d1;
}

.colorb2babb {
	background-color: #b2babb;
}

.color99a3a4 {
	background-color: #99a3a4;
}

.color7f8c8d {
	background-color: #7f8c8d;
}

.color707b7c {
	background-color: #707b7c;
}

.color616a6b {
	background-color: #616a6b;
}

.color515a5a {
	background-color: #515a5a;
}

.color424949 {
	background-color: #424949;
}

.colorebedef {
	background-color: #ebedef;
}

.colord6dbdf {
	background-color: #d6dbdf;
}

.coloraeb6bf {
	background-color: #aeb6bf;
}

.color85929e {
	background-color: #85929e;
}

.color5d6d7e {
	background-color: #5d6d7e;
}

.color34495e {
	background-color: #34495e;
}

.color2e4053 {
	background-color: #2e4053;
}

.color283747 {
	background-color: #283747;
}

.color212f3c {
	background-color: #212f3c;
}

.color1b2631 {
	background-color: #1b2631;
}

.coloreaecee {
	background-color: #eaecee;
}

.colord5d8dc {
	background-color: #d5d8dc;
}

.colorabb2b9 {
	background-color: #abb2b9;
}

.color808b96 {
	background-color: #808b96;
}

.color566573 {
	background-color: #566573;
}

.color2c3e50 {
	background-color: #2c3e50;
}

.color273746 {
	background-color: #273746;
}

.color212f3d {
	background-color: #212f3d;
}

.color1c2833 {
	background-color: #1c2833;
}

.color17202a {
	background-color: #17202a;
}
