body {
    background-image: url("Galaxy.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
}

div {
    text-align: center;
    
}
header {
    width: 100%;
    text-align: center;
    color: beige;
}
h3 {
    color: beige;
}
#colorBoard {
    width: 81em;
    justify-content: center;
    height: 4em;
    margin: 0 auto;
    background-color: maroon;
    border-radius: 15px;
    align-content: flex-start;
    display: flex;
    padding-top: 0.5em;
    padding-left: 0.5em;
}
.color {
    height: 3.5em;
    width: 3.5em;
    margin-right: .5em;
    border-radius: 50px;
    
}

#canvas {
    width: 80em;
    height: 40em;
    margin: 0 auto;
    background-color: tan;
    border-radius: 25px;
    border: 10px solid darkgreen;
    display: grid;
    grid-template-columns: repeat(128, 0fr);
    justify-items: center;
    padding-top: .5em;
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: .5em;
}
.pixel {
    width : .5em;
    height : .5em;
    border : 1px dotted #4713a3;
    background-color : black;
}