.pixel {
  height: 20px;
  width: 20px;
  border: 2px solid grey;
  display: inline-block;
  margin: -2px;
}


table {
  border-collapse: collapse;

}

/*tr {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
td {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}*/

.flex-box {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    align-items: center;
    justify-content: center;

}

footer {
  display: flex;
  align-self: flex-end;
}
