.pixel {
  height: 20px;
  width: 20px;
  border: 1px solid grey;
  display: inline-block;
  margin: -2px;
  background-color: white;
}


table {
  border-collapse: collapse;

}

/*tr {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
td {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}*/

#flex_box {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    align-items: center;
    justify-content: center;

}
.palette {
  display: flex;
  margin: 5em auto;


}

.color_dot {
  height: 20px;
  width: 20px;
  border: 2px solid black;
  display: inline-block;
  margin: 3px;
  border-radius: 50%;

}

#red{
  background-color: red;
}
#green {
  background-color: green;
}
#blue {
  background-color: blue;
}
#yellow {
  background-color: yellow;
}

footer {
  display: flex;
  align-self: flex-end;
}
