head {
    width:100%;
    height:100%;
}
body {
    width: 100%;
    height: 100%;
    margin:0;
}



.pixels { 
    background: white;
    width: 24px;
    height: 24px;
    border: 1px solid black;
    float: left; 

}

#container {
    margin: aut10;
    background-color: grey;
    width: 600px;
    height: 600px;
    border: 10px solid black;

}
