html {
  box-sizing: border-box;
  font-size: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.container{
  border:3px solid black;
  width:1012px;
}

.indicator {
  border:2px solid black;
  height:45px;
  margin-top:10px;
  width: 1000px;
  margin-bottom: 10px;
  border-radius:25%;
}

.row:first-child{
  margin-top:2px;
}

.row{
  height:25px;
  margin-left:2px;
}


.lastrow{
  margin-bottom:10px;
}

.eraser {
  font-size: 20px;
  font-family: impact;
  font-weight:200;
  color:black;
  margin: 25px;
  text-align: center;
  /*padding-top:85px;
  /*margin-bottom:-30px;*/
  margin-top: 35px;
  position: absolute;
  vertical-align: middle;

}

.key {
  height: 100px;
  width:100px;
  display: inline-block;
  border-radius:25%;
  border: 1px solid grey;
}

.keyrow, .indicator, .row{
  margin-left: 2px;
}

.box {
  height: 25px;
  width:25px;
  display: inline-block;
  padding: 0px;
  margin: 0px;
}

.black {
    background-color: black;
}

.red {
    background-color: red;
}

.whitepaint {
    background-color: rgb(254, 255, 255);
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.indigo {
    background-color: indigo;
}

.violet {
    background-color: violet;
}

.white {
    background-color: white;
    border:2px solid black;
}



.canvas {
  border: 1px solid grey;
}
