.art {
  display: table;
  border-spacing: 1px;
  background-color: black;
  border: 5px solid black;
}
.row{
  display: table-row;
}

.pixel {
  display: table-cell;
  background-color: white;
  width: 20px;
  height: 20px;
}
.pen{
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 2px solid black;
  border-radius: 50%;
}
