div {
  border: 0px;
  margin: 0 auto;
  box-sizing: border-box;
  cursor: crosshair;
}

.row {
  width: 100%;
  height: 15px;
  text-align: center;
}

.header-row {
  width: 100%;
  height: 50px;
  text-align: center;
}

.footer-row {
  width: 100%;
  height: 50px;
  text-align: center;
}

.color-row {
  width: 100%;
  text-align: center;
}

.pixel {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-color: grey;
  border-style: solid;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
}

.row .pixel:first-of-type {
  border-left: 1px solid grey;
}

.palette div:nth-child(2) .pixel{
  border-top: 1px solid grey;
}

.color, .custom-color {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid grey;
  border-radius: 50px;
  margin: 10px;
  font-size: 22px;
  vertical-align: middle;
}

.selected-color {
  border-color: yellow;
  border-width: 3px;
}

#color-picker {
  display: none;
}

input {
  width: 30px;
}

p {
  margin-right: 10px;
  display: inline-block;
}
