* {
  box-sizing: border-box;
}

.appStyle {
  width: 600px;
  height: 300px;
  border: 2px solid black;
  margin: auto;
  border-radius: 10px;
}

.canvasStyle {
  width: 100%;
  height: 70%;
  border-bottom: 2px solid black;
  background-color: rgba(224, 219, 219, 0.6);
  border-radius: 8px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.paletteStyle {
  width: 100%;
  height: 30%;
  /*background-color: rgba(124, 74, 42, 0.3);*/
  background-color:#E5E5E5 ;
  border-radius: 0px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.colorRed {
  background-color: red;
  visibility: visible;
}

.colorGreen {
  background-color: green;
}

.colorBlue {
  background-color: blue;
}

.colorYellow {
  background-color: yellow;
}

.colorPurple {
  background-color: purple;
}

.colorCyan {
  background-color: cyan;
}

.colorMagenta {
  background-color: magenta;
}

.colorTeal {
  background-color: teal;
}

.colorTomato {
  background-color: tomato;
}

.colorViolet {
  background-color: violet;
}

.colorGold {
  background-color: gold;
}

.colorChartreuse {
  background-color: chartreuse;
}

.colorPink {
  background-color: pink;
}

.colorBrown {
  background-color: brown;
}

.colorBlack {
  background-color: black;
}

.colorWhite {
  background-color: white;
}

.colorPapayawhip {
  background-color: papayawhip;
}

.colorDimGrey {
  background-color: dimgrey;
}

.colorDodgerBlue {
  background-color: dodgerblue;
}

.colorDarkGoldenRod {
  background-color: darkgoldenrod;
}

.commonStyle {
  margin: 5px;
  width: 30px;
  height: 30px;
  border: 2px solid black;
  border-radius: 100%;
  float: left;
}

.currentColor {
  /*color: white;*/
  color: #999999;
  font-family: 'Raleway', sans-serif;
  float: right;
  position: relative;
  right: 60px;
}

.currentColorBox {
  display: inline-block;
  color: white;
  border: 1px solid black;
  height: 1em;
  width: 1em;
  position: relative;
  top: 1.7px;
}
