* {
  box-sizing: border-box;
}

.appStyle {
  width: 1000px;
  height: 600px;
  max-width: 1000px;
  max-height: 600px;
  min-width: 1000px;
  min-height: 600px;
  border: 2px solid black;
  margin: auto;
  border-radius: 10px;
  background: rgb(14,14,14);
  background: -moz-linear-gradient(left,  rgba(14,14,14,1) 0%, rgba(78,92,90,1) 18%, rgba(130,157,152,1) 33%, rgba(142,166,162,1) 50%, rgba(153,175,171,1) 67%, rgba(174,191,188,1) 78%, rgba(216,224,222,1) 100%);
  background: -webkit-linear-gradient(left,  rgba(14,14,14,1) 0%,rgba(78,92,90,1) 18%,rgba(130,157,152,1) 33%,rgba(142,166,162,1) 50%,rgba(153,175,171,1) 67%,rgba(174,191,188,1) 78%,rgba(216,224,222,1) 100%);
  background: linear-gradient(to right,  rgba(14,14,14,1) 0%,rgba(78,92,90,1) 18%,rgba(130,157,152,1) 33%,rgba(142,166,162,1) 50%,rgba(153,175,171,1) 67%,rgba(174,191,188,1) 78%,rgba(216,224,222,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#d8e0de',GradientType=1 );
}

.canvasStyle {
  width: 98%;
  height: 70%;
  margin: auto;
  /*border-bottom: 1px solid black;*/
  background-color: white;
  border-radius: 8px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.paletteStyle {
  width: 100%;
  height: 30%;
  background: rgb(14,14,14);
  background: -moz-linear-gradient(left,  rgba(14,14,14,1) 0%, rgba(78,92,90,1) 18%, rgba(130,157,152,1) 33%, rgba(142,166,162,1) 50%, rgba(153,175,171,1) 67%, rgba(174,191,188,1) 78%, rgba(216,224,222,1) 100%);
  background: -webkit-linear-gradient(left,  rgba(14,14,14,1) 0%,rgba(78,92,90,1) 18%,rgba(130,157,152,1) 33%,rgba(142,166,162,1) 50%,rgba(153,175,171,1) 67%,rgba(174,191,188,1) 78%,rgba(216,224,222,1) 100%);
  background: linear-gradient(to right,  rgba(14,14,14,1) 0%,rgba(78,92,90,1) 18%,rgba(130,157,152,1) 33%,rgba(142,166,162,1) 50%,rgba(153,175,171,1) 67%,rgba(174,191,188,1) 78%,rgba(216,224,222,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#d8e0de',GradientType=1 );
  border-radius: 0px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.colorsStyle {
  width: 50%;
}

.colorRed {
  background-color: red;
  visibility: visible;
}

.colorGreen {
  background-color: green;
}

.colorBlue {
  background-color: blue;
}

.colorYellow {
  background-color: yellow;
}

.colorPurple {
  background-color: purple;
}

.colorCyan {
  background-color: cyan;
}

.colorMagenta {
  background-color: magenta;
}

.colorTeal {
  background-color: teal;
}

.colorTomato {
  background-color: tomato;
}

.colorViolet {
  background-color: violet;
}

.colorGold {
  background-color: gold;
}

.colorChartreuse {
  background-color: chartreuse;
}

.colorPink {
  background-color: pink;
}

.colorBrown {
  background-color: brown;
}

.colorBlack {
  background-color: black;
}

.colorWhite {
  background-color: white;
}

.colorPapayawhip {
  background-color: papayawhip;
}

.colorDimGrey {
  background-color: dimgrey;
}

.colorDodgerBlue {
  background-color: dodgerblue;
}

.colorDarkGoldenRod {
  background-color: darkgoldenrod;
}

.colorNavy {
  background-color: navy;
}

.colorFuchsia {
  background-color: fuchsia;
}

.colorSeaGreen {
  background-color: seagreen;
}

.colorDarkGreen {
  background-color: darkgreen;
}

.colorDarkSlateGrey {
  background-color: darkslategrey;
}

.colorCrimson {
  background-color: crimson;
}

.colorCadetBlue {
  background-color: cadetblue;
}

.commonStyle {
  margin: 5px;
  width: 45px;
  height: 45px;
  border: 1px solid black;
  border-radius: 100%;
  float: left;
}

.special {
  border: 5px solid gold;
}

.currentColor {
  color: yellow;
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  float: right;
  position: relative;
  right: 80px;
  bottom: 50px;
}

.currentColorBox {
  display: inline-block;
  border: 1px solid black;
  height: 1em;
  width: 1em;
  position: relative;
  top: 1.7px;
}
