h1{
  font-size: 35px;
  color:red;
  display: flex;
  justify-content: center;
  border: 3px solid black;
  padding:10px;
}
table{
  border: 5px solid black;
  justify-content: center;
}
td{
  border: 5px solid black;
  width:90px;
  height:90px;
}
p{
  font-size: 20px;
  font-weight: bold;
}
button{
  margin-top: 5px;
  width:60px;
  height:40px;
}
.win{
  font-size: 45px;
  color:#888;
}
