* {
  box-sizing: border-box;
  color: blue
}
.canvas {
  display: flex;
  justify-content: center;
  margin: 2rem;
  border: 2px solid red;
}

div.canvas {
  flex-wrap: wrap;
  width: auto;
  height: auto;
}

div.pixel {
  border: 1px solid black;
  padding: .1rem;
}
div.pixel:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
